:root {
    --background-light: #ffffff;
    --text-light: #fefefe;
    --background-dark: #000000;
    --text-dark: #000000;
    --link-color: #000000;
}

/* General */
body {
    margin: 0;
    padding: 0;
    font-family: 'Neulis Sans', sans-serif;
    position: relative;
    background-color: var(--background-light);
    color: var(--text-light);
    transition: background-color 0.5s, color 0.5s;
    cursor: none;
}


#custom-cursor {
    position: fixed;
    cursor: none;
    top: -50px; /* Adjust initial position of cursor */
    left: -50px; /* Adjust initial position of cursor */
    width: 100px; /* Adjust width of cursor */
    height: 100px; /* Adjust height of cursor */
    background-color: rgba(0, 0, 255, 0.5); /* Adjust color and opacity */
    border-radius: 50%; /* Ensure cursor appears as a circle */
    pointer-events: none; /* Ensure cursor doesn't interfere with mouse events */
    z-index: 9999; /* Ensure cursor appears above other content */
    transition: transform 0.2s ease-out; /* Smooth transition for fluid movement */
}



h1,
h2,
p,
a {
    color: inherit;
}

h1 {
    font-family: 'Arial', sans-serif;

}

h2 {
    font-family: 'Arial', sans-serif;

}

p {
    font-family: 'Arial', sans-serif;

}

header {
    background-color: var(--background-light);
    color: var(--text-light);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--link-color);
    transition: color 0.5s;
}

.menu a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bold;
    padding: 8px 15px;
    font-size: 24px;
    font-family: 'Neulis sans', sans-serif;
}

/* Night mode styles */
body.night-mode {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

body.night-mode header {
    background-color: var(--background-dark);
    color: var(--text-dark);
}

body.night-mode .logo {
    color: var(--text-light);

}

body.night-mode #nightModeToggle {

    color: var(--text-light);

}

body.night-mode h1,
body.night-mode h2,
body.night-mode h3,
body.night-mode h4,
body.night-mode p,
body.night-mode a {
    color: var(--text-light);
}

#nightModeToggle {
    font-size: 24px;
    font-family: 'Neulis sans', sans-serif;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--link-color);
}

/* Menu */
.menu-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-page ul {
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #000000;
}

.menu-page li {
    list-style: none;
    margin: -20px;
}

.menu-page a {
    text-decoration: none;

    font-size: 180px;
    font-weight: bold;
    color: inherit;
}

/* Home */
#home {
    font-size: 180px;
    color: #000000;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

#home h1:hover {
    animation: changeText 1s forwards;
}

@keyframes changeText {
    from {
        content: "NICOLAS";
    }

    to {
        content: "BUSCEMI";
    }
}

/* About */
#about {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

#about h2 {
    font-size: 70px;
    margin-bottom: 20px;
}

#about p {
    font-size: 70px;
    text-align: justify;
    margin: 20px 40px;
    text-align: center;
}