/* general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    position: relative;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 24px;

}

/* menu */
.menu-page {
    display: flex;
    flex-direction: column;
    /* Display links in a column */
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.menu-page ul {
    text-align: center;
}
.menu-page li {
    list-style: none;
    margin: -20px;
}

.menu-page a {
    text-decoration: none;
    font-size: 180px;
    font-weight: bold;
    color: #000000;
}

/* home */
#home {
    font-size: 180px;
    color: #000000;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

#home h1:hover {
    animation: changeText 1s forwards;
   
}

@keyframes changeText {
    from {
        content: "NICOLAS";
    }

    to {
        content: "BUSCEMI";
    }
}

/* About */
#about {
    background-color: #000000; /* Black background color for the about section */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center; /* Center-align the content */
}


#about h2 {
    font-size: 70px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some bottom margin */
}

#about p {
    font-size: 70px; /* Adjust the font size as needed */
    text-align: justify; /* Justify-align the paragraph text */
    margin: 20px 40px; /* Add some vertical margin */
    text-align: center;
    

/* Portofolio */


/* Contact */
