/* general */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    padding: 8px 15px;
    font-size: 24px;

}

/* menu */
.menu-page {
    display: flex;
    flex-direction: column;
    /* Display links in a column */
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-page li {
    list-style: none;
    margin: -20px;
}

.menu-page a {
    text-decoration: none;
    font-size: 180px;
    font-weight: bold;
    color: #000000;
}

/* home */
#home {
    font-size: 180px;
    color: #000000;
    padding: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: -40px;
}

#home h1:hover {
    animation: changeText 1s forwards;
    /* Apply the animation on hover */
}

@keyframes changeText {
    from {
        content: "NICOLAS";
    }

    to {
        content: "BUSCEMI";
    }
}

/* About */
#about {
    background-color: #000000; /* Black background color for the about section */
    color: #ffffff; /* White text color */
    padding: 20px;
    text-align: center; /* Center-align the content */
}


#about h2 {
    font-size: 80px; /* Adjust the font size as needed */
    margin-bottom: 20px; /* Add some bottom margin */
}

#about p {
    font-size: 80px; /* Adjust the font size as needed */
    text-align: justify; /* Justify-align the paragraph text */
    margin: 20px 40px; /* Add some vertical margin */
    text-align: center;
    

/* Portofolio */

 #portfolio {
    background-color: #ffffff; /* White background color for the portfolio section */
    color: #333333; /* Dark text color */
    padding: 20px;
    text-align: center; /* Center-align the content */
}

/* Showcase container styles */
.showcase-container {
    width: 80%; /* Adjust the width as needed */
    overflow: hidden; /* Hide overflowing content */
    margin: 0 auto; /* Center the container */
    position: relative;
}

/* Individual showcase styles */
.showcase {
    display: inline-block;
    width: 100%; /* Each showcase takes up the full width of the container */
    transition: transform 0.5s ease-in-out; /* Smooth transition for sliding effect */
}

/* Navigation arrows styles */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    cursor: pointer;
    color: #333333; /* Dark arrow color */
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}
/* Contact */
#contact {
    background-color: #ffffff;
}